@import url('https://fonts.googleapis.com/css?family=Belgrano&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
:root{
	--color-purple: 	#534582;
	--color-blue: 		#367BC2;
	--color-cian: 		#37C0A6;
	--color-green: 		#8FE1A1;
	--color-orange: 	#FF9100;
	--color-white: 		#F1F1F1;
	--color-black: 		#353535;

	--font-title-banner: 400 4.5rem/1.26 'Belgrano';

	--font-h1: 400 3rem/1.27 'Belgrano';
	--font-h2: 400 2.5rem/1.275 'Belgrano';
	--font-h3: 400 2.25rem/1.27 'Belgrano';
	--font-h4: 400 1.875rem/1.26 'Belgrano';
	--font-h5: 400 1.5rem/1.25 'Belgrano';
	--font-h6: 400 1.375rem/1.27 'Belgrano';

	--font-text: 400 1.125rem/1.5625 'Open Sans';

	--font-list: 400 1.125rem/1.5625 'Lato';

	--font-btn: 700 1.5rem/1.2 'Lato';

	--font-menu: 400 1.5rem/1.2 'Lato';
}
@media (max-width: 991px){
	:root{
		--font-title-banner: 400 3.2rem/1.26 'Belgrano';

		--font-h1: 400 2.25rem/1.27 'Belgrano';
		--font-h2: 400 2rem/1.28 'Belgrano';
		--font-h3: 400 1.75rem/1.28 'Belgrano';
		--font-h4: 400 1.5rem/1.25 'Belgrano';
		--font-h5: 400 1.375rem/1.25 'Belgrano';
		--font-h6: 400 1.25rem/1.25 'Belgrano';
	}
}
@media (max-width: 575px){
	:root{
		--font-title-banner: 400 1.875rem/1.26 'Belgrano';

		--font-h1: 400 1.875rem/1.26 'Belgrano';
		--font-h2: 400 1.75rem/1.28 'Belgrano';
		--font-h3: 400 1.625rem/1.26 'Belgrano';
		--font-h4: 400 1.5rem/1.25 'Belgrano';
	}
}
.title_banner{
	font: var(--font-title-banner);
}
h1,.h1{
	font: var(--font-h1);
}
h2,.h2{
	font: var(--font-h2);
}
h3,.h3{
	font: var(--font-h3);
}
h4,.h4{
	font: var(--font-h4);
}
h5,.h5{
	font: var(--font-h5);
}
h6,.h6{
	font: var(--font-h6);
}
p,.text{
	font:var(--font-text);
}
ul,ol,li,.list{
	font: var(--font-list);
}
a,input,button,textarea,.btn{
	font: var(--font-btn);
}
.menu,.menu a{
	font: var(--font-menu);
}

/*btn*/
a,input,button,textarea,.btn,
a:hover,input:hover,button:hover,textarea:hover,.btn:hover,
a:active,input:active,button:active,textarea:active,.btn:active,
a:focus,input:focus,button:focus,textarea:focus,.btn:focus{
	outline: none;
	text-decoration: none;
	border: 0;
	border-radius: 0;
	transition: .5s;
	box-shadow: none;
	cursor: pointer;
}
.btn,.btn2{
	max-width: 100%;
	width: 250px;
	height: 45px;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	background: var(--color-orange);
	color: var(--color-white);
	--shodow-btn:4px 8px 10px hsla(0,0%,0%,.25);
	box-shadow: var(--shodow-btn), inset 0 0 0 0px var(--color-green),inset 0 0 0 0px var(--color-cian);
}
.btn:hover,.btn2:hover{
	box-shadow: var(--shodow-btn), inset 0 0 0 0px var(--color-green),inset 0 0 0 50px var(--color-cian);
	color: var(--color-black);
}
.btn:active,.btn2:active{
	box-shadow: var(--shodow-btn), inset 0 0 0 4px var(--color-green),inset 0 0 0 50px var(--color-cian);
	color: var(--color-black);
}
.btn2{
	--color-orange: var(--color-blue);
	--color-green: var(--color-blue);
	--color-cian: var(--color-purple);
	--color-black: var(--color-white);
}
/*img*/
picture{
	display: inline-block;
	position: relative;
}
img{
	width: auto;
	max-width: 100%;
	height: auto;
	object-fit: cover;
	object-position: center;
}
/*header*/
:root{
	--height-header: 114px;
}
header{
	width: 100%;
	height: 114px;
	position: fixed;
	top: 0;
	left: 0;
	background: var(--color-purple);
	color: var(--color-white);
	box-shadow: inset 0 -10px var(--color-blue);
	display: flex;
	align-items: center;
}
header ul{
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
}
header li{
	padding: 0;
	margin: 0;
}
header a{
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: var(--color-white);
	padding: 0 15px;
	height: 49px;
}
header a:hover{
	color: var(--color-white);
	box-shadow: 0 17px 0 -14px var(--color-cian);
}
header li.active a{
	box-shadow: 0 0 0 3px var(--color-cian);
}

header .logo{
	padding: 0;
}
header .logo:hover{
	box-shadow: none;
}
header .btn_menu{
	width: 40px;
	height: 34px;
	display: inline-block;
	position: relative;
}
header .btn_menu:before,
header .btn_menu:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	background: var(--color-white);
	transition: .5s;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	box-shadow: 0 15px var(--color-white), 0 -15px var(--color-white);
}
header:target .btn_menu:before,
header:target .btn_menu:after{
	box-shadow: none;
	transform: rotateZ(45deg);
}
header:target .btn_menu:before{
	transform: rotateZ(-45deg);
}
header .btn_menu a{
	padding: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	top: 0;
	left: 0;
	position: absolute;
	display: block;
	z-index: 5;
}
header .btn_menu a[href^='#m']{
	z-index: 10;
}
header:target .btn_menu a[href^='#m']{
	z-index: 0;
}
@media (max-width: 991px){
	header {
		position: relative;
		overflow: hidden;
	}
	header .menu{
		padding: 15px 0;
		overflow: auto;
		position: fixed;
		transition: .5s;
		width: 100%;
		height: calc(100vh - var(--height-header));
		top: var(--height-header);
		left: 100%;
		background: var(--color-blue);
	}
	header:before{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		display: block;
		top: 0;
		left: 100%;
		background: var(--color-blue);
		box-shadow: inset 0 -10px var(--color-purple);
		transition: .5s;
	}
	header:target:before{
		left: 0;
	}
	header:target .menu{
		left: 0;
	}
	header li{
		width: 100%;
	}
	header .btn{
		margin-left: 15px;
		margin-top: 55px;
	}
}
/*body and html*/
html{
	overflow: auto;
	scroll-behavior: smooth;
}
body{
	font: var(--font-text);
	letter-spacing: 0;

	background: var(--color-purple);
	color: var(--color-white);

	padding-top: var(--height-header);
	width: 100%;
	min-height: 100vh;
	height: auto;
	
	overflow: hidden;
}